matplotlib==3.2.1
ml-metrics==0.1.4
numpy==1.18.4
opencv-python==4.2.0.34
pandas==1.0.3
Pillow==7.1.2
pytorch-msssim==0.2.1
scikit-image==0.17.2
scikit-learn==0.23.0
scipy==1.4.1
seaborn==0.10.1
tqdm==4.46.0
youtube-dl==2020.9.20

torch==1.5.0
torch-cluster==1.5.7
torch-geometric==1.6.1
torch-scatter==2.0.5
torch-sparse==0.6.7
torch-spline-conv==1.2.0
torchsummary==1.5.1
torchvision==0.6.0
